@import url(https://fonts.google.com/share?query=popp);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    background-color: #1f242d;
    color: #ededed;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-transform: none;
    font-weight: 600;
}
.navbar a {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: rgb(5, 112, 138);
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home_content{
    max-width: 600px;
}

.home_content h3{
    font-size: 32px;
    font-weight: 700;
}

.home_content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}